<menu_bar class= "menu_bar ">
    <div class="container">
    <nav>
        <ul class="nav nav-pills">
            <li><%=link_to "Home","#"%></li>
            <li><%=link_to "Video teaching materials","#"%></li>
            <li><%=link_to "Material purchase","#"%></li>
        </ul>
    </nav>
    </div>
</menu_bar>