<div class="container">
<div>
<%= render "static_pages/menu_bar" %>
</div>
<div class="container">
    <div class="scroll-area">
    
        <div class="box box__bg_photo">仲間を、日本を、世界を成功に導く会社
            <h1>「大 成 幸 株式会社」</h1>
        </div>
    
        <div class="box box__bg_gray">
            <p>理念</p>
        </div>
        <div class="box box__bg_black">
            <p>思い、志</p>
        </div>
    
    </div>
</div>
</div>