<% provide(:title, "Video teaching materials") %>

<%= render "static_pages/menu_bar" %>
<div class= "container">
<ol class="breadcrumb">
	<li><%= link_to "category", categories_path%></li>
</ol>
</div>

<div class="container">
    <h2>Video teaching materials</h2>
</div>
