@import "bootstrap";
@import "bootstrap-sprockets";
/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
}


/*header*/

/*breadcrumb*/



/*static_pages*/

.scroll-area {
  width: 100%;
  height: 100vh;
  overflow: auto;
  -webkit-scroll-behavior: smooth;
  scroll-behavior: smooth;
  -webkit-scroll-snap-type: mandatory;
  scroll-snap-type: mandatory;
  -webkit-scroll-snap-points-y: repeat(100%);
  scroll-snap-points-y: repeat(100%);
}
.box {
  width: 100%;
  height: 50vh;
  color: #fff;
  font-size: 20px;
  display: flex;
  align-items: center; 
  justify-content: center; 
  flex-direction: column;
}
.box__bg_black {
  background-color: #333;
}
.box__bg_gray {
  background-color: #ccc;
}
.box__bg_photo {
  background-color: #D7000F;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}



/*menu_bar*/
  
.menu_bar{
  nav{
  font-family: Impact,Charcoal;
  border-bottom: 1px solid #004986;
  padding-top: 10px;
  padding-bottom: 0px;
  }
}

/*category*/
input, textarea {
  
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 10px;
 
}

.category{
  
  padding-top: 10px;
  padding-bottom: 10px;
  .title{
    font-size: 20px;
  }
  
  .item{
    border-bottom: 1px solid #004986;
    font-size: 20px;
    font-weight: bold;
    
    
  }
}

.list{
  font-size: 20px;
}

.remarks{
  font-size: 15px;
  list-style: none;
}
